<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <meta charset="UTF-8">
    <title>YB Board</title>

</head>
<div layout:fragment="content" class="container border">
    <div class="row">
        <div class="col-4">글 제목</div>
        <div class="col-8"><p th:text="${boardDto.title}"></p></div>
    </div>
    <div class="row">
        <div class="col-4">작성일</div>
        <div class="col-8"><p>[[${#temporals.format(boardDto.createdDate, 'yyyy-MM-dd HH:mm')}]]</p></div>
    </div>
    <div class="row">
        <div class="col-4">본문 내용</div>
        <div class="col-8"> <p th:text="${boardDto.content}"></p></div>
    </div>

    <!-- 수정/삭제 -->
    <div>
        <a th:href="@{'/post/edit/'+${boardDto.id}}">
            <button class="btn btn-primary">수정</button>
        </a>
        <form id="delete-form" th:action="@{'/post/'+${boardDto.id}}" method="post">
            <input type="hidden" name="_method" value="delete"/>
            <button id="delete-btn" class="btn btn-primary">삭제</button>
        </form>
    </div>
    <!-- 변수 셋팅 -->
    <script th:inline="javascript">
        /*<![CDATA[*/
        var boardDto = /*[[${boardDto}]]*/ "";
        /*]]>*/
    </script>

    <!-- script -->
    <script th:inline="javascript" th:src="@{/js/board.js}"></script>

</div>
</html>